In [36]:
"""for pulling down data from hr.info API on response level and sending to CSV"""
#locations: https://api.hpc.tools/v1/public/location
#clusters: https://api.hpc.tools/v1/public/global-cluster ["code":"SHL"]
#https://api.hpc.tools/docs/v1/
#boundary cat by looping through locations

#TODO: subtract outgoing

import urllib.request, json
import csv
import itertools
import math
import collections
import sys

import grequests
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

import utils


class fts(object):
    def __init__(self, sc, test=None, all_sector=False):
        self.all_sector = all_sector
        self.test = test
        self.sc = sc

        self.fts = self.master_pull()
        self.merge_sc()
        self.flows = self.extract_flows()

        # remove flows col as it's quite large
        self.fts = self.fts.drop('fts.data.flows', axis=1)

    def extract_flows(self):
        """take all flows and add to df"""

        flow_df = pd.DataFrame()
        for v in self.fts.iterrows():
            norm = json_normalize(v[1]['fts.data.flows'])
            norm['fts.uid'] = v[1]['sc.uid']

            if len(flow_df) == 0:
                flow_df = norm
            else:
                # need to make sure we're adding t3h same c0lz
                assert (norm.columns.all(flow_df.columns))
                flow_df = flow_df.append(norm, ignore_index=True)

        return flow_df

    def master_pull(self):
        """group by year, country and pull down total values with optional filter by cluster.
            returns: dict of {sector 1 : info df}
        """
        countries = json_normalize(json.loads(urllib.request.urlopen("https://api.hpc.tools/v1/public/location")
                                              .read().decode()))['data']

        print('pulled countries')

        self.hist = self.sc

        def get_other_sects():
            """get comma seperated string of all other sectors if needed"""
            r = json_normalize(json.loads(urllib.request.urlopen("https://api.hpc.tools/v1/public/global-cluster")
                                          .read().decode()))['data']

            r = [v['code'] for v in r[0]]
            return ','.join(r)

        #set equal just SHL, and if we're looking for others then get 'em
        clusters = ['SHL']
        cluster_vals = {}

        if self.all_sector:
            cluster = get_other_sects()

        self.hist['sc.fts_url'] = self.hist.apply(lambda x: \
                          'https://api.hpc.tools/v1/public/fts/flow?countryISO3={0}&year={1}' \
                          '&globalClusterCode={2}'.format(x['sc.iso3'], x['sc.year'], \
                                                          'SHL,WSH,FSC,CSS,EDU,ERY,HEA' if not self.all_sector else get_other_sects()), axis=1)

        if self.test:
            hrefz = self.hist['sc.fts_url'][:self.test]
        else:
            hrefz = self.hist['sc.fts_url']

        def exception_handler(request, exception):
            print('Bad URL for ' + str(request))

        # re.match('.*globalClusterCode=(.*)', good_resps[0]['url']).groups()[0]
        resps = []
        rs = (grequests.get(ref) for ref in hrefz)
        resps += grequests.map(rs, exception_handler=exception_handler, size=25)

        good_resps = []
        bad_resps = []
        for r in resps:
            load = json.loads(r.content)
            load['url'] = r.url
            if r.status_code == 200:
                good_resps.append(load)
            else:
                bad_resps.append(load)

        print('num bad resps: ' + str(len(bad_resps)))

        resps = utils.api_pull(hrefz, False)

        return json_normalize(good_resps).add_prefix('fts.')

    def merge_sc(self):
        self.fts = self.fts.merge(self.hist, left_on='fts.url', right_on='sc.fts_url')

    def get_flow_bdown(self):
        """break down flows by needed columns"""

        def hp(v):
            if 'Plan' in json_normalize(v['destinationObjects']).values or 'Plan' in json_normalize(
                    v['sourceObjects']).values:
                return 'has_plan'
            else:
                return 'no_plan'

        self.flows['plan'] = self.flows.apply(lambda x: hp(x), axis=1)

        # we are skipping boundary for now as it's <<<<
        d = self.flows[['fts.uid', 'plan', 'amountUSD']].groupby(['fts.uid', 'plan'], as_index=False).aggregate(
            {'amountUSD': 'sum'})
        piv = pd.pivot_table(d, index='fts.uid', values='amountUSD', aggfunc=np.sum, columns=[d['plan']] \
                             , fill_value=0).reset_index()
        piv['total'] = piv['has_plan'] + piv['no_plan']
        return piv

#
# import sc_pull
# sc = sc_pull.pull()
# # s_f = fts(test=10, sc=sc)
# all_f = fts(test=10, sc=sc, all_sector=True)
#
# # print(s_f.get_flow_bdown().add_prefix('sc_')) #351513201 PAK2005 sc
# print(all_f.get_flow_bdown().add_prefix('sc_')) #351513201 PAK2005 all
#
# # AGR,CCM,PRO-CPN,CSS,ERY,EDU,TEL,FSC,PRO-GBV,HEA,PRO-HLP,LOG,PRO-MIN,MS,NUT,OTH,PRO,WSH

In [37]:
import sc_pull
sc = sc_pull.pull()
s_f = fts(test=2, sc=sc)
# all_f = fts(test=4, sc=sc, all_sector=True)

179,903,300
197,823,342

loaded 227 SC entries
pulled countries
num bad resps: 0
pulling for : https://api.hpc.tools/v1/public/fts/flow?countryISO3=PAK&year=2005&globalClusterCode=SHL,WSH,FSC,CSS,EDU,ERY,HEA
pulled. num bad resps: 0

/Users/ewanog/Documents/work/code/venv/p3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

(197, 823, 342)

In [38]:
all_f.flows['fts.uid'].value_counts()

s_f.flows['fts.uid'].value_counts()

PAK2005    200
COD2006    200
Name: fts.uid, dtype: int64

In [26]:
all_f.flows

,amountUSD,boundary,budgetYear,contributionType,createdAt,date,decisionDate,description,destinationObjects,exchangeRate,...,onBoundary,originalAmount,originalCurrency,parentFlowId,refCode,reportDetails,sourceObjects,status,updatedAt,versionId
0,195340,incoming,2005,in kind,2016-04-12T16:32:00Z,2005-11-12T00:00:00Z,2005-11-12T00:00:00Z,"PAKISTAN - Eathquake - November 2005, blanket ...","[{'type': 'Organization', 'id': '83', 'name': ...",2150.097,...,single,420000000.0,BYR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Be...","[{'type': 'Organization', 'id': '4837', 'name'...",commitment,2016-04-12T16:32:00Z,1
1,160000,incoming,2000,in kind,2005-02-14T00:00:00Z,2005-02-13T00:00:00Z,2005-02-13T00:00:00Z,"Emergency relief items (food, water filter clo...","[{'type': 'Organization', 'id': '2915', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,NaN,"[{'type': 'Organization', 'id': '2915', 'name'...",paid,2005-03-04T00:00:00Z,1
2,20000,incoming,NaN,in kind,2005-02-14T00:00:00Z,2005-02-13T00:00:00Z,2005-02-13T00:00:00Z,Tents and other shelter items*,"[{'type': 'Organization', 'id': '4397', 'name'...",NaN,...,single,0.0,NaN,NaN,NaN,NaN,"[{'type': 'Organization', 'id': '4397', 'name'...",paid,2005-02-14T00:00:00Z,1
3,25000,incoming,NaN,in kind,2005-02-14T00:00:00Z,2005-02-13T00:00:00Z,2005-02-13T00:00:00Z,Emergency medical supplies,"[{'type': 'Organization', 'id': '4398', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,NaN,"[{'type': 'Organization', 'id': '4398', 'name'...",paid,2005-02-14T00:00:00Z,1
4,50000,incoming,2000,financial,2005-02-14T00:00:00Z,2005-02-13T00:00:00Z,2005-02-13T00:00:00Z,Emergency cash grant for the purchase of tents...,"[{'type': 'Organization', 'id': '5294', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Of...","[{'type': 'Organization', 'id': '4396', 'name'...",paid,2005-02-16T00:00:00Z,1
5,25000,incoming,NaN,financial,2005-02-16T00:00:00Z,2005-02-15T00:00:00Z,2005-02-15T00:00:00Z,To support educational facilities,"[{'type': 'Organization', 'id': '2993', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2993', 'name'...",paid,2005-02-16T00:00:00Z,1
6,100000,incoming,NaN,financial,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,Emergency relief assistance,"[{'type': 'Organization', 'id': '4305', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': Non...","[{'type': 'Organization', 'id': '2933', 'name'...",paid,2005-02-17T00:00:00Z,1
7,200000,incoming,NaN,in kind,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,In-kind donation,"[{'type': 'Organization', 'id': '83', 'name': ...",NaN,...,single,0.0,NaN,NaN,NaN,"[{'sourceType': 'Primary', 'organization': Non...","[{'type': 'Organization', 'id': '100', 'name':...",paid,2005-02-17T00:00:00Z,1
8,42372,incoming,NaN,financial,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,"Cash grant - CHF 50,000","[{'type': 'Organization', 'id': '8538', 'name'...",1.180,...,single,50000.0,CHF,NaN,NaN,"[{'sourceType': 'Primary', 'organization': Non...","[{'type': 'Organization', 'id': '4393', 'name'...",paid,2005-02-17T00:00:00Z,1
9,100000,incoming,NaN,financial,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,Cash grant,"[{'type': 'Organization', 'id': '83', 'name': ...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': Non...","[{'type': 'Organization', 'id': '2976', 'name'...",paid,2005-02-17T00:00:00Z,1
10,20000,incoming,2000,financial,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,2005-02-17T00:00:00Z,Cash grant,"[{'type': 'Organization', 'id': '8538', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': Non...","[{'type': 'Organization', 'id': '2053', 'name'...",paid,2005-03-01T00:00:00Z,1
11,65359,incoming,NaN,financial,2005-02-25T00:00:00Z,2005-02-25T00:00:00Z,2005-02-25T00:00:00Z,"Tents, winter clothes, blankets, stoves - EUR ...","[{'type': 'Organization', 'id': '83', 'name': ...",0.765,...,single,50000.0,EUR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ge...","[{'type': 'Organization', 'id': '4306', 'name'...",paid,2005-02-25T00:00:00Z,1
12,82203,incoming,2005,financial,2005-03-02T00:00:00Z,2005-02-27T00:00:00Z,2005-02-27T00:00:00Z,Secondment SHA technical coordinator to UNHCR ...,"[{'type': 'Organization', 'id': '4397', 'name'...",1.180,...,single,97000.0,CHF,NaN,7F-02013.05,"[{'sourceType': 'Primary', 'organization': 'Sw...","[{'type': 'Organization', 'id': '2924', 'name'...",commitment,2005-03-02T00:00:00Z,1
13,129715,incoming,2005,financial,2005-03-03T00:00:00Z,2005-02-28T00:00:00Z,2005-02-28T00:00:00Z,"To provide 1,000 family kits, each one with on...","[{'type': 'Organization', 'id': '2992', 'name'...",0.765,...,single,99232.0,EUR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ge...","[{'type': 'Organization', 'id': '4306', 'name'...",commitment,2005-03-03T00:00:00Z,1
14,0,incoming,NaN,in kind,2005-03-04T00:00:00Z,2005-02-18T00:00:00Z,2005-02-18T00:00:00Z,Flood assessments,"[{'type': 'Organization', 'id': '4319', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': Non...","[{'type': 'UsageYear', 'id': '26', 'name': '20...",paid,2011-04-11T17:31:00Z,1
15,0,incoming,NaN,in kind,2005-03-04T00:00:00Z,2005-02-18T00:00:00Z,2005-02-18T00:00:00Z,"Tents, blankets, foodstuff*","[{'type': 'Organization', 'id': '2304', 'name'...",NaN,...,single,0.0,NaN,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Is...","[{'type': 'Organization', 'id': '2304', 'name'...",paid,2005-03-04T00:00:00Z,1
16,66000,incoming,NaN,in kind,2005-03-04T00:00:00Z,2005-02-18T00:00:00Z,2005-02-18T00:00:00Z,6 basic health kits,"[{'type': 'Organization', 'id': '4398', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Wo...","[{'type': 'Organization', 'id': '4398', 'name'...",commitment,2005-03-04T00:00:00Z,1
17,100000,incoming,NaN,financial,2005-03-04T00:00:00Z,2005-02-18T00:00:00Z,2005-02-18T00:00:00Z,"For coordination, logistic support, monitoring...","[{'type': 'Organization', 'id': '5294', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '5294', 'name'...",paid,2005-03-04T00:00:00Z,1
18,196702,incoming,NaN,in kind,2005-04-19T00:00:00Z,2005-04-18T00:00:00Z,2005-04-18T00:00:00Z,Air freight of 60 tons consisting of foodstuff...,"[{'type': 'Organization', 'id': '83', 'name': ...",3.750,...,single,739600.0,SAR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Sa...","[{'type': 'Organization', 'id': '2998', 'name'...",paid,2005-04-19T00:00:00Z,1
19,648508,incoming,2005,financial,2005-05-04T00:00:00Z,2005-06-29T00:00:00Z,2005-04-12T00:00:00Z,Voluntary repatriation of Afghan refugees to t...,"[{'type': 'Organization', 'id': '4397', 'name'...",0.771,...,single,500000.0,EUR,NaN,ECHO/-AS/BUD/2005/01005,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",commitment,2006-03-31T00:00:00Z,1
20,125000,incoming,1986,financial,2005-07-07T00:00:00Z,2005-06-30T00:00:00Z,2005-06-30T00:00:00Z,"Immediate disaster relief or rehabilitation, r...","[{'type': 'Organization', 'id': '83', 'name': ...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2933', 'name'...",paid,2006-02-09T00:00:00Z,1
21,88618,incoming,2005,financial,2005-07-11T00:00:00Z,2005-07-08T00:00:00Z,2005-07-08T00:00:00Z,Secondment Peshawar.,"[{'type': 'Organization', 'id': '3761', 'name'...",1.230,...,single,109000.0,CHF,NaN,7F-03472.02,"[{'sourceType': 'Primary', 'organization': 'Sw...","[{'type': 'Organization', 'id': '2924', 'name'...",commitment,2005-07-11T00:00:00Z,1
22,22575,incoming,NaN,in kind,2005-07-14T00:00:00Z,2005-07-08T00:00:00Z,2005-07-08T00:00:00Z,Relief package,"[{'type': 'Organization', 'id': '2915', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2915', 'name'...",paid,2005-07-14T00:00:00Z,1
23,0,incoming,NaN,in kind,2005-07-14T00:00:00Z,2005-07-08T00:00:00Z,2005-07-08T00:00:00Z,3 emergency health kits*,"[{'type': 'Organization', 'id': '4398', 'name'...",NaN,...,single,0.0,NaN,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Wo...","[{'type': 'Organization', 'id': '4398', 'name'...",paid,2005-07-14T00:00:00Z,1
24,0,incoming,NaN,in kind,2005-07-14T00:00:00Z,2005-07-13T00:00:00Z,2005-07-13T00:00:00Z,Animal feed for large animals*,"[{'type': 'Organization', 'id': '2304', 'name'...",NaN,...,single,0.0,NaN,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Is...","[{'type': 'Organization', 'id': '2304', 'name'...",pledge,2017-11-21T00:37:59.635Z,1
25,0,incoming,NaN,in kind,2005-07-14T00:00:00Z,2005-07-08T00:00:00Z,2005-07-08T00:00:00Z,"Dispatched food packs, soap, water containers ...","[{'type': 'Organization', 'id': '5373', 'name'...",NaN,...,single,0.0,NaN,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ca...","[{'type': 'Organization', 'id': '5373', 'name'...",paid,2005-07-14T00:00:00Z,1
26,0,incoming,NaN,in kind,2005-07-14T00:00:00Z,2005-07-08T00:00:00Z,2005-07-08T00:00:00Z,"Dispatched food packs, soap, water containers ...","[{'type': 'Organization', 'id': '5373', 'name'...",NaN,...,single,0.0,NaN,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ca...","[{'type': 'Organization', 'id': '5373', 'name'...",paid,2005-07-14T00:00:00Z,1
27,0,incoming,NaN,in kind,2005-07-14T00:00:00Z,2005-07-08T00:00:00Z,2005-07-08T00:00:00Z,"60,000 sandbags*","[{'type': 'Organization', 'id': '83', 'name': ...",NaN,...,single,0.0,NaN,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2933', 'name'...",paid,2005-07-14T00:00:00Z,1
28,223367,incoming,NaN,in kind,2005-07-19T00:00:00Z,2005-07-18T00:00:00Z,2005-07-18T00:00:00Z,Immediate Response Emergency Operation for foo...,"[{'type': 'Organization', 'id': '3049', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Wo...","[{'type': 'Organization', 'id': '3049', 'name'...",paid,2005-07-19T00:00:00Z,1
29,185505,incoming,NaN,financial,2005-07-29T00:00:00Z,2005-07-26T00:00:00Z,2005-07-26T00:00:00Z,"Relief assistance - GBP 100,000","[{'type': 'Organization', 'id': '5294', 'name'...",0.554,...,single,100.0,GBP,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2917', 'name'...",paid,2005-07-29T00:00:00Z,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,54798,incoming,2006,financial,2006-08-11T00:00:00Z,2006-08-09T00:00:00Z,2006-08-09T00:00:00Z,Support to OCHA Humanitarian Information Center,"[{'type': 'Organization', 'id': '2884', 'name'...",0.784,...,single,42962.0,EUR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Sw...","[{'type': 'Organization', 'id': '2921', 'name'...",commitment,2006-08-11T00:00:00Z,1
771,51508,incoming,2006,in kind,2006-08-15T00:00:00Z,2006-08-02T00:00:00Z,2006-08-02T00:00:00Z,"In kind - food, water, medicines, medical equi...","[{'type': 'Organization', 'id': '1286', 'name'...",0.796,...,single,41000.0,EUR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Gr...","[{'type': 'Organization', 'id': '4547', 'name'...",paid,2006-08-15T00:00:00Z,1
772,38101,incoming,2006,in kind,2006-08-15T00:00:00Z,2006-08-02T00:00:00Z,2006-08-02T00:00:00Z,"In kind - food, water, medicines","[{'type': 'Organization', 'id': '3230', 'name'...",0.796,...,single,30328.0,EUR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Gr...","[{'type': 'Organization', 'id': '4547', 'name'...",paid,2006-08-15T00:00:00Z,1
773,80000,incoming,2006,financial,2006-08-15T00:00:00Z,2006-07-31T00:00:00Z,2006-07-31T00:00:00Z,Awaiting allocation to specific project,"[{'type': 'Plan', 'id': '214', 'name': 'Lebano...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ic...","[{'type': 'Organization', 'id': '4845', 'name'...",commitment,2006-08-28T00:00:00Z,1
774,139802,incoming,2006,financial,2006-08-15T00:00:00Z,2006-08-02T00:00:00Z,2006-08-02T00:00:00Z,Logistics and operational support through Mini...,"[{'type': 'Organization', 'id': '3517', 'name'...",0.784,...,single,109605.0,EUR,NaN,R1518,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2917', 'name'...",commitment,2017-11-21T00:38:14.207Z,1
775,793768,incoming,2006,in kind,2006-08-15T00:00:00Z,2006-08-02T00:00:00Z,2006-08-02T00:00:00Z,Replenishment of 2 armoured vehicles and reple...,"[{'type': 'Organization', 'id': '4396', 'name'...",0.784,...,single,622314.0,EUR,NaN,R1518,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2917', 'name'...",commitment,2006-08-15T00:00:00Z,1
776,637083,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,2006-07-26T00:00:00Z,Emergency support to displaced families in Leb...,"[{'type': 'Organization', 'id': '4305', 'name'...",0.784,...,single,499473.0,EUR,NaN,ECHO/LBN/BUD/2006/01003,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",commitment,2006-08-16T00:00:00Z,1
777,446429,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,2006-07-26T00:00:00Z,Urgent medical assistance to affected populati...,"[{'type': 'Organization', 'id': '3777', 'name'...",0.784,...,single,350000.0,EUR,NaN,ECHO/LBN/BUD/2006/01006,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",commitment,2006-08-16T00:00:00Z,1
778,458015,incoming,2006,financial,2006-08-16T00:00:00Z,2006-07-26T00:00:00Z,2006-07-26T00:00:00Z,Interventions coordination and psychological a...,"[{'type': 'Organization', 'id': '8463', 'name'...",0.786,...,single,360000.0,EUR,NaN,ECHO/LBN/BUD/2006/01004,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",paid,2006-11-28T00:00:00Z,1
779,3826530,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-17T00:00:00Z,2006-07-26T00:00:00Z,Lebanon crisis logistics operation\n(ECHO/LBN/...,"[{'type': 'Plan', 'id': '214', 'name': 'Lebano...",0.784,...,single,3000000.0,EUR,NaN,ECHO/LBN/BUD/2006/01008,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",paid,2007-02-08T00:00:00Z,1
780,338839,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,2006-07-26T00:00:00Z,Emergency assistance in unofficial gatherings ...,"[{'type': 'Organization', 'id': '3140', 'name'...",0.784,...,single,265650.0,EUR,NaN,ECHO/LBN/BUD/2006/01005,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",commitment,2006-08-16T00:00:00Z,1
781,481930,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,2006-07-24T00:00:00Z,Basic relief aid distribution to the victims o...,"[{'type': 'Organization', 'id': '5298', 'name'...",0.784,...,single,377833.0,EUR,NaN,ECHO/-ME/BUD/2006/02007,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",commitment,2006-08-16T00:00:00Z,1
782,510168,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,2006-07-24T00:00:00Z,Food and Non-food Emergency Response for Ain E...,"[{'type': 'Organization', 'id': '8479', 'name'...",0.784,...,single,399972.0,EUR,NaN,ECHO/-ME/BUD/2006/02008,"[{'sourceType': 'Primary', 'organization': 'Eu...","[{'type': 'Organization', 'id': '8523', 'name'...",commitment,2006-08-16T00:00:00Z,1
783,40650,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,Relief for persons affected by the humanitaria...,"[{'type': 'Organization', 'id': '2967', 'name'...",1.230,...,single,50000.0,CHF,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Li...","[{'type': 'Organization', 'id': '4331', 'name'...",paid,2006-08-16T00:00:00Z,1
784,96712,incoming,2006,financial,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,Regional Operations Centre/Evacuation assistan...,"[{'type': 'Plan', 'id': '214', 'name': 'Lebano...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'In...","[{'type': 'Organization', 'id': '4683', 'name'...",commitment,2006-08-16T00:00:00Z,1
785,763358,incoming,2006,financial,2006-08-17T00:00:00Z,2006-08-17T00:00:00Z,2006-08-17T00:00:00Z,Logistics operations,"[{'type': 'Plan', 'id': '214', 'name': 'Lebano...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Wo...","[{'type': 'Organization', 'id': '4391', 'name'...",paid,2006-11-15T00:00:00Z,1
786,100000,incoming,2006,financial,2006-08-17T00:00:00Z,2006-08-17T00:00:00Z,2006-08-17T00:00:00Z,Food aid,"[{'type': 'Plan', 'id': '214', 'name': 'Lebano...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ic...","[{'type': 'Organization', 'id': '4845', 'name'...",commitment,2006-08-17T00:00:00Z,1
787,100000,incoming,2006,financial,2006-08-17T00:00:00Z,2006-08-18T00:00:00Z,2006-08-17T00:00:00Z,Lebanon crisis response,"[{'type': 'Organization', 'id': '4416', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ic...","[{'type': 'Organization', 'id': '4845', 'name'...",paid,2006-08-18T00:00:00Z,1
788,29000,incoming,2006,financial,2006-08-17T00:00:00Z,2006-08-18T00:00:00Z,2006-08-17T00:00:00Z,Lebanon crisis response,"[{'type': 'Organization', 'id': '4416', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ic...","[{'type': 'Organization', 'id': '4845', 'name'...",paid,2006-08-18T00:00:00Z,1
789,29000,incoming,2006,financial,2006-08-17T00:00:00Z,2006-08-18T00:00:00Z,2006-08-17T00:00:00Z,Lebanon crisis response,"[{'type': 'Organization', 'id': '3007', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Ic...","[{'type': 'Organization', 'id': '4845', 'name'...",paid,2006-08-18T00:00:00Z,1
790,25916,incoming,2006,financial,2006-08-18T00:00:00Z,2006-08-17T00:00:00Z,2006-08-17T00:00:00Z,Security sector training,"[{'type': 'Organization', 'id': '8597', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2933', 'name'...",commitment,2013-01-23T10:51:00Z,1
791,1563584,incoming,2006,financial,2006-08-18T00:00:00Z,2006-08-17T00:00:00Z,2006-08-17T00:00:00Z,Water and sanitation and emergency relief supp...,"[{'type': 'Organization', 'id': '1850', 'name'...",NaN,...,single,NaN,USD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Un...","[{'type': 'Organization', 'id': '2933', 'name'...",commitment,2013-01-23T10:51:00Z,1
792,763359,incoming,2006,financial,2006-08-18T00:00:00Z,2006-08-16T00:00:00Z,2006-08-16T00:00:00Z,ICRC appeal for Lebanon (additional funding),"[{'type': 'Organization', 'id': '2967', 'name'...",1.310,...,single,1000000.0,AUD,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'Au...","[{'type': 'Organization', 'id': '4391', 'name'...",commitment,2006-08-18T00:00:00Z,1
793,90686,incoming,2006,in kind,2006-08-18T00:00:00Z,2006-08-14T00:00:00Z,2006-08-14T00:00:00Z,In kind - IT.EMERG KITS-A;2/IT.EMERG KITS-B;2/...,"[{'type': 'Organization', 'id': '4398', 'name'...",0.784,...,single,71098.0,EUR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'It...","[{'type': 'Organization', 'id': '3774', 'name'...",paid,2006-08-22T00:00:00Z,1
794,111849,incoming,2006,in kind,2006-08-18T00:00:00Z,2006-08-16T00:00:00Z,2006-08-11T00:00:00Z,In kind - CLINICAL DELIVERY ASSISTANCE KITS 4/...,"[{'type': 'Organization', 'id': '3517', 'name'...",0.784,...,single,87690.0,EUR,NaN,NaN,"[{'sourceType': 'Primary', 'organization': 'It...","[{'type': 'Organization', 'id': '3774', 'name'...",paid,2006-08-18T00:00:00Z,1