In [34]:
import numpy
import pandas as pd
import numpy as np

In [2]:
df.to_csv('df.csv')

NameError: name 'df' is not defined

In [8]:
df.apply(lambda x : x)

self.data[['rw_gen.month', 'rw_gen.year']] = self.data.apply(lambda x:
                                                             pd.Series(
                                                                 self.extract_date(x['rw_gen.fields.name'])),
                                                             axis=1)

NameError: name 'df' is not defined

In [71]:
l = []

df.apply(lambda x : l.append(x))

l

[0    None
 1    None
 2    None
 Name: col2, dtype: object, 0    None
 1    None
 2    None
 Name: col2, dtype: object]

In [77]:
pd.concat([df,df])

df.con

AttributeError: 'DataFrame' object has no attribute 'concat'

In [42]:
df.apply(lambda x : x)


urls = []
for v in df.iterrows():
    print(v[1]['col1'])

1
3
None

In [29]:
set(['a', 'b']).issubset(['a', 'b', 'c'])

True

In [35]:
df

   col1  col2
0     1     2
1     3  None
2  None     3

In [36]:
m

  col1 new
0    1

In [54]:
m

  col1   new
0    1    42
1    x  None
2    x  None
3    3   NaN

In [61]:
def s(x):
    return '12'

df[df.col1.apply(lambda x : s(x)) == '1']

Empty DataFrame
Columns: [col1, col2]
Index: []

In [4]:
df[df.col1 == '1'].col2 = 100

df.loc[df.col1 == '1', 'col1'] = "Matt"

df

/Users/ewanog/Documents/work/code/venv/p3/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

   col1 col2
0  Matt   42
1     3   44
2  None    3

In [19]:
m

  col1  new
0    1  123
1    x
2    x
3    3

In [20]:
df

   col1 col2
0     1   42
1     3   44
2  None    3

In [29]:
df.update(m)

df

  col1 col2
0    1  123
1    x
2    x

In [28]:
d = {'col1': ['1','3', None], 'col2': ['42','44', '3']}
m = {'col1': ['1','x','x','3'], 'col2' : ['123','','','']}
df = pd.DataFrame(data=d)
m = pd.DataFrame(data=m)

def find(v):
    if v in df.col1.values:
        return df[df.col1 == v].col2

# m.new = m.apply(lambda x : find(x.col1), axis = 1)

In [81]:
d = {'col1': [np.nan,'3', 4, '3'], 'col2': [np.nan, np.nan, '3', np.nan]}
df = pd.DataFrame(data=d)

df.col1[df.col1 == 19] = 19000
df

  col1 col2
0  NaN  NaN
1    3  NaN
2    4    3
3    3  NaN

In [52]:
s.index

Index([], dtype='object')

In [73]:
df

  col1 col2
0  NaN  NaN
1    3  NaN
2    4    3
3    3    1

In [82]:
null_cnt = {}

UID_COL = 'col1'
def find_empt(r):
    num_empt = sum(r.isnull())
    if r[UID_COL] in null_cnt:
        null_cnt[r[UID_COL]] += num_empt
        
    else:
        null_cnt[r[UID_COL]] = num_empt
    
df.apply(lambda x : find_empt(x), axis = 1)

0    None
1    None
2    None
3    None
dtype: object

In [83]:
null_cnt

{nan: 2, '3': 2, 4: 0}

In [9]:
globals()['In']

['',
 "d = {'col1': ['1','3', None], 'col2': ['2',None, '3']}\ndf = pd.DataFrame(data=d)\n\ndf\n\ndef a(r):\n    print(r)\n    print('**')\n    return -99\n    \ndf.col1 = df.col1.apply(lambda x : a(x), axis = 1)\n\nd['new']",
 "d = {'col1': ['1','3', None], 'col2': ['2',None, '3']}\ndf = pd.DataFrame(data=d)\n\ndf",
 'import pandas as pd',
 "d = {'col1': ['1','3', None], 'col2': ['2',None, '3']}\ndf = pd.DataFrame(data=d)\n\ndf",
 "d = {'col1': ['1','3', None], 'col2': ['2',None, '3']}\ndf = pd.DataFrame(data=d)\n\ndf",
 "d = {'col1': ['1','3', None], 'col2': ['2',None, '3']}\ndf = pd.DataFrame(data=d)\n\ndf = pd.DataFrame(df['col1'])",
 "d = {'col1': ['1','3', None], 'col2': ['2',None, '3']}\ndf = pd.DataFrame(data=d)\n\ndf = pd.DataFrame(df['col1'])\n\ndf",
 'globals()',
 "globals()['In']"]

In [25]:
df

   col1  col2
0   -99     2
1   -99  None
2   -99     3

In [50]:
class c(object):
    def __init__(self):
        self.a = 1
        
    def r(self):
        print(1)
        
    def main(self):
        self.r()

s = c()
s.main()

1

In [62]:
df = pd.DataFrame(data = {'a': [1, 2, 3], 'b': [4, 5, 6]})
ot = pd.DataFrame(data = {'a': [6, 3, 1], 'c': [14, 15, 16]})

df.merge(ot, how = 'left', left_on='a', right_on='a')

   a  b     c
0  1  4  16.0
1  2  5   NaN
2  3  6  15.0

In [121]:
'a'.

v = 'text'

v.

In [120]:
{1 : 2 if True 1 if False}

SyntaxError: invalid syntax (<ipython-input-120-2b5f64ea7908>, line 1)

In [111]:
d

['Since its emergence in April 2009, pandemic influenza A(H1N1) 2009 virus affected all parts of the world, causing the first influenza pandemic since 1968. Following the observation that 1 or 2 epidemic periods had occurred in most countries and in most WHO Regions, WHO declared on 10 Aug 2010 that the world was moving into the post-pandemic period. ([WHO, 18 Feb 2011](https://reliefweb.int/node/389128))',
 'https://reliefweb.int/disaster/ep-2009-000084-mex',
 'World',
 'wld',
 'https://api.reliefweb.int/v1/countries/254']

In [108]:
d = ['Since its emergence in April 2009, pandemic influenza A(H1N1) 2009 virus affected all parts of the world, causing the first influenza pandemic since 1968. Following the observation that 1 or 2 epidemic periods had occurred in most countries and in most WHO Regions, WHO declared on 10 Aug 2010 that the world was moving into the post-pandemic period. ([WHO, 18 Feb 2011](https://reliefweb.int/node/389128))', 'https://reliefweb.int/disaster/ep-2009-000084-mex', 'World', 'wld', 'https://api.reliefweb.int/v1/countries/254']

In [104]:
fin = json.loads(urllib.request.urlopen("https://api.reliefweb.int/v1/" \
                           "disasters?appname=vocabulary&preset=external").read().decode())['count']

fin

10

In [91]:
import urllib.request, json

with urllib.request.urlopen("https://api.reliefweb.int/v1/disasters?appname=vocabulary&preset=external&limit=10&offset=1000".format(i*1000)) as url:
    j = json.loads(url.read().decode())
    
j.keys()

dict_keys(['href', 'time', 'links', 'totalCount', 'count', 'data'])

In [56]:
import urllib.request, json

from pandas.io.json import json_normalize

r = json_normalize(json.loads(urllib.request.urlopen("https://api.hpc.tools/v1/public/global-cluster")
                                              .read().decode()))['data']

r = [v['code'] for v in r[0]]
r.remove('SHL')
s = ','.join(r)

s
# https://api.hpc.tools/v1/public/fts/flow?countryISO3=SOM&year=2015&globalClusterCode=shl,tel

'AGR,CCM,PRO-CPN,CSS,ERY,EDU,TEL,FSC,PRO-GBV,HEA,PRO-HLP,LOG,PRO-MIN,MS,NUT,OTH,PRO,WSH'

In [54]:
json_normalize(json.loads(urllib.request.urlopen("https://api.hpc.tools/v1/public/fts/flow?countryISO3=SOM&year=2015&globalClusterCode=shl,wsh")
                                              .read().decode()))

,data.flows,data.incoming.flowCount,data.incoming.fundingTotal,data.incoming.pledgeTotal,data.internal.flowCount,data.outgoing.flowCount,data.outgoing.fundingTotal,data.outgoing.pledgeTotal,meta.count,meta.language,status
0,"[{'id': '126486', 'versionId': 1, 'description...",52,38478845,0,0,6,2400471,0,58,en,ok

In [57]:
from fts_pull import fts

loaded 227 SC entries
pulled countries
num bad resps: 0

/Users/ewanog/Documents/work/code/venv/p3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [59]:
from sc_pull import pull

fts(sc = pull(), test = 10, all_sector=True)

loaded 227 SC entries

TypeError: 'fts' object is not callable

In [22]:
s = pd.Series([1,2,312312414312312312312414312312414312312414312312414414312312414312312414312312414,23])

print(s.values)

[1 2
 312312414312312312312414312312414312312414312312414414312312414312312414312312414
 23]

In [4]:
json.loads(urllib.request.urlopen("https://api.hpc.tools/v1/public/location")
                                              .read().decode())

{'data': [{'adminLevel': 0,
   'id': 1,
   'iso3': 'AFG',
   'name': 'Afghanistan',
   'pcode': None},
  {'adminLevel': 0, 'id': 3, 'iso3': 'ALB', 'name': 'Albania', 'pcode': None},
  {'adminLevel': 0, 'id': 4, 'iso3': 'DZA', 'name': 'Algeria', 'pcode': None},
  {'adminLevel': 0,
   'id': 5,
   'iso3': 'ASM',
   'name': 'American Samoa',
   'pcode': None},
  {'adminLevel': 0, 'id': 6, 'iso3': 'AND', 'name': 'Andorra', 'pcode': None},
  {'adminLevel': 0, 'id': 7, 'iso3': 'AGO', 'name': 'Angola', 'pcode': None},
  {'adminLevel': 0,
   'id': 8,
   'iso3': 'AIA',
   'name': 'Anguilla (United Kingdom)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 9,
   'iso3': 'ATA',
   'name': 'Antarctica',
   'pcode': None},
  {'adminLevel': 0,
   'id': 10,
   'iso3': 'ATG',
   'name': 'Antigua and Barbuda',
   'pcode': None},
  {'adminLevel': 0,
   'id': 11,
   'iso3': 'ARG',
   'name': 'Argentina',
   'pcode': None},
  {'adminLevel': 0, 'id': 12, 'iso3': 'ARM', 'name': 'Armenia', 'pcode': None},
  {'adminLevel': 0, 'id': 13, 'iso3': 'ABW', 'name': 'Aruba', 'pcode': None},
  {'adminLevel': 0,
   'id': 14,
   'iso3': 'AUS',
   'name': 'Australia',
   'pcode': None},
  {'adminLevel': 0, 'id': 15, 'iso3': 'AUT', 'name': 'Austria', 'pcode': None},
  {'adminLevel': 0,
   'id': 16,
   'iso3': 'AZE',
   'name': 'Azerbaijan',
   'pcode': None},
  {'adminLevel': 0, 'id': 17, 'iso3': 'BHS', 'name': 'Bahamas', 'pcode': None},
  {'adminLevel': 0, 'id': 18, 'iso3': 'BHR', 'name': 'Bahrain', 'pcode': None},
  {'adminLevel': 0,
   'id': 19,
   'iso3': 'BGD',
   'name': 'Bangladesh',
   'pcode': None},
  {'adminLevel': 0,
   'id': 20,
   'iso3': 'BRB',
   'name': 'Barbados',
   'pcode': None},
  {'adminLevel': 0, 'id': 21, 'iso3': 'BLR', 'name': 'Belarus', 'pcode': None},
  {'adminLevel': 0, 'id': 22, 'iso3': 'BEL', 'name': 'Belgium', 'pcode': None},
  {'adminLevel': 0, 'id': 23, 'iso3': 'BLZ', 'name': 'Belize', 'pcode': None},
  {'adminLevel': 0, 'id': 24, 'iso3': 'BEN', 'name': 'Benin', 'pcode': None},
  {'adminLevel': 0, 'id': 25, 'iso3': 'BMU', 'name': 'Bermuda', 'pcode': None},
  {'adminLevel': 0, 'id': 26, 'iso3': 'BTN', 'name': 'Bhutan', 'pcode': None},
  {'adminLevel': 0,
   'id': 27,
   'iso3': 'BOL',
   'name': 'Bolivia, Plurinational State of',
   'pcode': None},
  {'adminLevel': 0,
   'id': 29,
   'iso3': 'BES',
   'name': 'Bonaire, Saint Eustatius and Saba (The Netherlands)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 28,
   'iso3': 'BIH',
   'name': 'Bosnia and Herzegovina',
   'pcode': None},
  {'adminLevel': 0,
   'id': 30,
   'iso3': 'BWA',
   'name': 'Botswana',
   'pcode': None},
  {'adminLevel': 0,
   'id': 31,
   'iso3': 'BVT',
   'name': 'Bouvet Island',
   'pcode': None},
  {'adminLevel': 0, 'id': 32, 'iso3': 'BRA', 'name': 'Brazil', 'pcode': None},
  {'adminLevel': 0,
   'id': 33,
   'iso3': 'IOT',
   'name': 'British Indian Ocean Territory',
   'pcode': None},
  {'adminLevel': 0,
   'id': 34,
   'iso3': 'BRN',
   'name': 'Brunei Darussalam',
   'pcode': None},
  {'adminLevel': 0,
   'id': 35,
   'iso3': 'BGR',
   'name': 'Bulgaria',
   'pcode': None},
  {'adminLevel': 0,
   'id': 36,
   'iso3': 'BFA',
   'name': 'Burkina Faso',
   'pcode': 'BF'},
  {'adminLevel': 0, 'id': 37, 'iso3': 'BDI', 'name': 'Burundi', 'pcode': None},
  {'adminLevel': 0,
   'id': 38,
   'iso3': 'KHM',
   'name': 'Cambodia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 39,
   'iso3': 'CMR',
   'name': 'Cameroon',
   'pcode': None},
  {'adminLevel': 0, 'id': 40, 'iso3': 'CAN', 'name': 'Canada', 'pcode': None},
  {'adminLevel': 0,
   'id': 41,
   'iso3': 'CPV',
   'name': 'Cape Verde',
   'pcode': None},
  {'adminLevel': 0,
   'id': 42,
   'iso3': 'CYM',
   'name': 'Cayman Islands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 43,
   'iso3': 'CAF',
   'name': 'Central African Republic',
   'pcode': None},
  {'adminLevel': 0, 'id': 44, 'iso3': 'TCD', 'name': 'Chad', 'pcode': None},
  {'adminLevel': 0, 'id': 45, 'iso3': 'CHL', 'name': 'Chile', 'pcode': None},
  {'adminLevel': 0, 'id': 46, 'iso3': 'CHN', 'name': 'China', 'pcode': None},
  {'adminLevel': 0,
   'id': 47,
   'iso3': 'CXR',
   'name': 'Christmas Island',
   'pcode': None},
  {'adminLevel': 0,
   'id': 48,
   'iso3': 'CCK',
   'name': 'Cocos (Keeling) Islands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 49,
   'iso3': 'COL',
   'name': 'Colombia',
   'pcode': None},
  {'adminLevel': 0, 'id': 50, 'iso3': 'COM', 'name': 'Comoros', 'pcode': None},
  {'adminLevel': 0, 'id': 51, 'iso3': 'COG', 'name': 'Congo', 'pcode': None},
  {'adminLevel': 0,
   'id': 52,
   'iso3': 'COD',
   'name': 'Congo, The Democratic Republic of the',
   'pcode': None},
  {'adminLevel': 0,
   'id': 53,
   'iso3': 'COK',
   'name': 'Cook Islands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 54,
   'iso3': 'CRI',
   'name': 'Costa Rica',
   'pcode': None},
  {'adminLevel': 0, 'id': 56, 'iso3': 'HRV', 'name': 'Croatia', 'pcode': None},
  {'adminLevel': 0, 'id': 57, 'iso3': 'CUB', 'name': 'Cuba', 'pcode': None},
  {'adminLevel': 0, 'id': 58, 'iso3': 'CUW', 'name': 'Curaçao', 'pcode': None},
  {'adminLevel': 0, 'id': 59, 'iso3': 'CYP', 'name': 'Cyprus', 'pcode': None},
  {'adminLevel': 0,
   'id': 60,
   'iso3': 'CZE',
   'name': 'Czech Republic',
   'pcode': None},
  {'adminLevel': 0,
   'id': 55,
   'iso3': 'CIV',
   'name': "Côte d'Ivoire",
   'pcode': None},
  {'adminLevel': 0, 'id': 61, 'iso3': 'DNK', 'name': 'Denmark', 'pcode': None},
  {'adminLevel': 0,
   'id': 62,
   'iso3': 'DJI',
   'name': 'Djibouti',
   'pcode': None},
  {'adminLevel': 0,
   'id': 63,
   'iso3': 'DMA',
   'name': 'Dominica',
   'pcode': None},
  {'adminLevel': 0,
   'id': 64,
   'iso3': 'DOM',
   'name': 'Dominican Republic',
   'pcode': None},
  {'adminLevel': 0, 'id': 65, 'iso3': 'ECU', 'name': 'Ecuador', 'pcode': None},
  {'adminLevel': 0, 'id': 66, 'iso3': 'EGY', 'name': 'Egypt', 'pcode': None},
  {'adminLevel': 0,
   'id': 67,
   'iso3': 'SLV',
   'name': 'El Salvador',
   'pcode': None},
  {'adminLevel': 0,
   'id': 68,
   'iso3': 'GNQ',
   'name': 'Equatorial Guinea',
   'pcode': None},
  {'adminLevel': 0, 'id': 69, 'iso3': 'ERI', 'name': 'Eritrea', 'pcode': None},
  {'adminLevel': 0, 'id': 70, 'iso3': 'EST', 'name': 'Estonia', 'pcode': None},
  {'adminLevel': 0,
   'id': 71,
   'iso3': 'ETH',
   'name': 'Ethiopia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 72,
   'iso3': 'FLK',
   'name': 'Falkland Islands (Malvinas)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 73,
   'iso3': 'FRO',
   'name': 'Faroe Islands',
   'pcode': None},
  {'adminLevel': 0, 'id': 74, 'iso3': 'FJI', 'name': 'Fiji', 'pcode': None},
  {'adminLevel': 0, 'id': 75, 'iso3': 'FIN', 'name': 'Finland', 'pcode': None},
  {'adminLevel': 0, 'id': 76, 'iso3': 'FRA', 'name': 'France', 'pcode': None},
  {'adminLevel': 0,
   'id': 77,
   'iso3': 'GUF',
   'name': 'French Guiana',
   'pcode': None},
  {'adminLevel': 0,
   'id': 78,
   'iso3': 'PYF',
   'name': 'French Polynesia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 79,
   'iso3': 'ATF',
   'name': 'French Southern Territories',
   'pcode': None},
  {'adminLevel': 0, 'id': 80, 'iso3': 'GAB', 'name': 'Gabon', 'pcode': None},
  {'adminLevel': 0, 'id': 81, 'iso3': 'GMB', 'name': 'Gambia', 'pcode': None},
  {'adminLevel': 0, 'id': 82, 'iso3': 'GEO', 'name': 'Georgia', 'pcode': None},
  {'adminLevel': 0, 'id': 83, 'iso3': 'DEU', 'name': 'Germany', 'pcode': None},
  {'adminLevel': 0, 'id': 84, 'iso3': 'GHA', 'name': 'Ghana', 'pcode': None},
  {'adminLevel': 0,
   'id': 85,
   'iso3': 'GIB',
   'name': 'Gibraltar',
   'pcode': None},
  {'adminLevel': 0, 'id': 86, 'iso3': 'GRC', 'name': 'Greece', 'pcode': None},
  {'adminLevel': 0,
   'id': 87,
   'iso3': 'GRL',
   'name': 'Greenland',
   'pcode': None},
  {'adminLevel': 0, 'id': 88, 'iso3': 'GRD', 'name': 'Grenada', 'pcode': None},
  {'adminLevel': 0,
   'id': 89,
   'iso3': 'GLP',
   'name': 'Guadeloupe (France)',
   'pcode': None},
  {'adminLevel': 0, 'id': 90, 'iso3': 'GUM', 'name': 'Guam', 'pcode': None},
  {'adminLevel': 0,
   'id': 91,
   'iso3': 'GTM',
   'name': 'Guatemala',
   'pcode': None},
  {'adminLevel': 0,
   'id': 92,
   'iso3': 'GGY',
   'name': 'Guernsey',
   'pcode': None},
  {'adminLevel': 0, 'id': 93, 'iso3': 'GIN', 'name': 'Guinea', 'pcode': None},
  {'adminLevel': 0,
   'id': 94,
   'iso3': 'GNB',
   'name': 'Guinea-Bissau',
   'pcode': None},
  {'adminLevel': 0, 'id': 95, 'iso3': 'GUY', 'name': 'Guyana', 'pcode': None},
  {'adminLevel': 0, 'id': 96, 'iso3': 'HTI', 'name': 'Haiti', 'pcode': None},
  {'adminLevel': 0,
   'id': 97,
   'iso3': 'HMD',
   'name': 'Heard Island and McDonald Islands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 98,
   'iso3': 'VAT',
   'name': 'Holy See (Vatican City State)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 99,
   'iso3': 'HND',
   'name': 'Honduras',
   'pcode': None},
  {'adminLevel': 0,
   'id': 100,
   'iso3': 'HKG',
   'name': 'Hong Kong',
   'pcode': None},
  {'adminLevel': 0,
   'id': 101,
   'iso3': 'HUN',
   'name': 'Hungary',
   'pcode': None},
  {'adminLevel': 0,
   'id': 102,
   'iso3': 'ISL',
   'name': 'Iceland',
   'pcode': None},
  {'adminLevel': 0, 'id': 103, 'iso3': 'IND', 'name': 'India', 'pcode': None},
  {'adminLevel': 0,
   'id': 104,
   'iso3': 'IDN',
   'name': 'Indonesia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 105,
   'iso3': 'IRN',
   'name': 'Iran, Islamic Republic of',
   'pcode': None},
  {'adminLevel': 0, 'id': 106, 'iso3': 'IRQ', 'name': 'Iraq', 'pcode': None},
  {'adminLevel': 0,
   'id': 107,
   'iso3': 'IRL',
   'name': 'Ireland',
   'pcode': None},
  {'adminLevel': 0,
   'id': 108,
   'iso3': 'IMN',
   'name': 'Isle of Man',
   'pcode': None},
  {'adminLevel': 0, 'id': 109, 'iso3': 'ISR', 'name': 'Israel', 'pcode': None},
  {'adminLevel': 0, 'id': 110, 'iso3': 'ITA', 'name': 'Italy', 'pcode': None},
  {'adminLevel': 0,
   'id': 111,
   'iso3': 'JAM',
   'name': 'Jamaica',
   'pcode': None},
  {'adminLevel': 0, 'id': 112, 'iso3': 'JPN', 'name': 'Japan', 'pcode': None},
  {'adminLevel': 0, 'id': 113, 'iso3': 'JEY', 'name': 'Jersey', 'pcode': None},
  {'adminLevel': 0, 'id': 114, 'iso3': 'JOR', 'name': 'Jordan', 'pcode': None},
  {'adminLevel': 0,
   'id': 115,
   'iso3': 'KAZ',
   'name': 'Kazakhstan',
   'pcode': None},
  {'adminLevel': 0, 'id': 116, 'iso3': 'KEN', 'name': 'Kenya', 'pcode': None},
  {'adminLevel': 0,
   'id': 117,
   'iso3': 'KIR',
   'name': 'Kiribati',
   'pcode': None},
  {'adminLevel': 0,
   'id': 118,
   'iso3': 'PRK',
   'name': "Korea, Democratic People's Republic of",
   'pcode': None},
  {'adminLevel': 0,
   'id': 119,
   'iso3': 'KOR',
   'name': 'Korea, Republic of',
   'pcode': None},
  {'adminLevel': 0, 'id': 120, 'iso3': 'KWT', 'name': 'Kuwait', 'pcode': None},
  {'adminLevel': 0,
   'id': 121,
   'iso3': 'KGZ',
   'name': 'Kyrgyzstan',
   'pcode': None},
  {'adminLevel': 0,
   'id': 122,
   'iso3': 'LAO',
   'name': "Lao People's Democratic Republic",
   'pcode': None},
  {'adminLevel': 0, 'id': 123, 'iso3': 'LVA', 'name': 'Latvia', 'pcode': None},
  {'adminLevel': 0,
   'id': 124,
   'iso3': 'LBN',
   'name': 'Lebanon',
   'pcode': None},
  {'adminLevel': 0,
   'id': 125,
   'iso3': 'LSO',
   'name': 'Lesotho',
   'pcode': None},
  {'adminLevel': 0,
   'id': 126,
   'iso3': 'LBR',
   'name': 'Liberia',
   'pcode': None},
  {'adminLevel': 0, 'id': 127, 'iso3': 'LBY', 'name': 'Libya', 'pcode': 'LY'},
  {'adminLevel': 0,
   'id': 128,
   'iso3': 'LIE',
   'name': 'Liechtenstein',
   'pcode': None},
  {'adminLevel': 0,
   'id': 129,
   'iso3': 'LTU',
   'name': 'Lithuania',
   'pcode': None},
  {'adminLevel': 0,
   'id': 130,
   'iso3': 'LUX',
   'name': 'Luxembourg',
   'pcode': None},
  {'adminLevel': 0, 'id': 131, 'iso3': 'MAC', 'name': 'Macao', 'pcode': None},
  {'adminLevel': 0,
   'id': 132,
   'iso3': 'MKD',
   'name': 'Macedonia, The Former Yugoslav Republic of',
   'pcode': None},
  {'adminLevel': 0,
   'id': 133,
   'iso3': 'MDG',
   'name': 'Madagascar',
   'pcode': None},
  {'adminLevel': 0, 'id': 134, 'iso3': 'MWI', 'name': 'Malawi', 'pcode': None},
  {'adminLevel': 0,
   'id': 135,
   'iso3': 'MYS',
   'name': 'Malaysia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 136,
   'iso3': 'MDV',
   'name': 'Maldives',
   'pcode': None},
  {'adminLevel': 0, 'id': 137, 'iso3': 'MLI', 'name': 'Mali', 'pcode': None},
  {'adminLevel': 0, 'id': 138, 'iso3': 'MLT', 'name': 'Malta', 'pcode': None},
  {'adminLevel': 0,
   'id': 139,
   'iso3': 'MHL',
   'name': 'Marshall Islands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 140,
   'iso3': 'MTQ',
   'name': 'Martinique (France)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 141,
   'iso3': 'MRT',
   'name': 'Mauritania',
   'pcode': 'MR'},
  {'adminLevel': 0,
   'id': 142,
   'iso3': 'MUS',
   'name': 'Mauritius',
   'pcode': None},
  {'adminLevel': 0,
   'id': 143,
   'iso3': 'MYT',
   'name': 'Mayotte',
   'pcode': None},
  {'adminLevel': 0, 'id': 144, 'iso3': 'MEX', 'name': 'Mexico', 'pcode': None},
  {'adminLevel': 0,
   'id': 145,
   'iso3': 'FSM',
   'name': 'Micronesia, Federated States of',
   'pcode': None},
  {'adminLevel': 0,
   'id': 146,
   'iso3': 'MDA',
   'name': 'Moldova, Republic of',
   'pcode': None},
  {'adminLevel': 0, 'id': 147, 'iso3': 'MCO', 'name': 'Monaco', 'pcode': None},
  {'adminLevel': 0,
   'id': 148,
   'iso3': 'MNG',
   'name': 'Mongolia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 149,
   'iso3': 'MNE',
   'name': 'Montenegro',
   'pcode': None},
  {'adminLevel': 0,
   'id': 150,
   'iso3': 'MSR',
   'name': 'Montserrat',
   'pcode': None},
  {'adminLevel': 0,
   'id': 151,
   'iso3': 'MAR',
   'name': 'Morocco',
   'pcode': None},
  {'adminLevel': 0,
   'id': 152,
   'iso3': 'MOZ',
   'name': 'Mozambique',
   'pcode': None},
  {'adminLevel': 0,
   'id': 153,
   'iso3': 'MMR',
   'name': 'Myanmar',
   'pcode': None},
  {'adminLevel': 0,
   'id': 154,
   'iso3': 'NAM',
   'name': 'Namibia',
   'pcode': None},
  {'adminLevel': 0, 'id': 155, 'iso3': 'NRU', 'name': 'Nauru', 'pcode': None},
  {'adminLevel': 0, 'id': 156, 'iso3': 'NPL', 'name': 'Nepal', 'pcode': None},
  {'adminLevel': 0,
   'id': 157,
   'iso3': 'NLD',
   'name': 'Netherlands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 158,
   'iso3': 'ANT',
   'name': 'Netherlands Antilles',
   'pcode': None},
  {'adminLevel': 0,
   'id': 159,
   'iso3': 'NCL',
   'name': 'New Caledonia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 160,
   'iso3': 'NZL',
   'name': 'New Zealand',
   'pcode': None},
  {'adminLevel': 0,
   'id': 161,
   'iso3': 'NIC',
   'name': 'Nicaragua',
   'pcode': None},
  {'adminLevel': 0, 'id': 162, 'iso3': 'NER', 'name': 'Niger', 'pcode': None},
  {'adminLevel': 0,
   'id': 163,
   'iso3': 'NGA',
   'name': 'Nigeria',
   'pcode': None},
  {'adminLevel': 0, 'id': 164, 'iso3': 'NIU', 'name': 'Niue', 'pcode': None},
  {'adminLevel': 0,
   'id': 165,
   'iso3': 'NFK',
   'name': 'Norfolk Island',
   'pcode': None},
  {'adminLevel': 0,
   'id': 166,
   'iso3': 'MNP',
   'name': 'Northern Mariana Islands',
   'pcode': None},
  {'adminLevel': 0, 'id': 167, 'iso3': 'NOR', 'name': 'Norway', 'pcode': None},
  {'adminLevel': 0, 'id': 168, 'iso3': 'OMN', 'name': 'Oman', 'pcode': None},
  {'adminLevel': 0,
   'id': 169,
   'iso3': 'PAK',
   'name': 'Pakistan',
   'pcode': None},
  {'adminLevel': 0, 'id': 170, 'iso3': 'PLW', 'name': 'Palau', 'pcode': None},
  {'adminLevel': 0, 'id': 172, 'iso3': 'PAN', 'name': 'Panama', 'pcode': None},
  {'adminLevel': 0,
   'id': 173,
   'iso3': 'PNG',
   'name': 'Papua New Guinea',
   'pcode': None},
  {'adminLevel': 0,
   'id': 174,
   'iso3': 'PRY',
   'name': 'Paraguay',
   'pcode': None},
  {'adminLevel': 0, 'id': 175, 'iso3': 'PER', 'name': 'Peru', 'pcode': None},
  {'adminLevel': 0,
   'id': 176,
   'iso3': 'PHL',
   'name': 'Philippines',
   'pcode': None},
  {'adminLevel': 0,
   'id': 177,
   'iso3': 'PCN',
   'name': 'Pitcairn',
   'pcode': None},
  {'adminLevel': 0, 'id': 178, 'iso3': 'POL', 'name': 'Poland', 'pcode': None},
  {'adminLevel': 0,
   'id': 179,
   'iso3': 'PRT',
   'name': 'Portugal',
   'pcode': None},
  {'adminLevel': 0,
   'id': 180,
   'iso3': 'PRI',
   'name': 'Puerto Rico (United States)',
   'pcode': None},
  {'adminLevel': 0, 'id': 181, 'iso3': 'QAT', 'name': 'Qatar', 'pcode': None},
  {'adminLevel': 0,
   'id': 183,
   'iso3': 'ROU',
   'name': 'Romania',
   'pcode': None},
  {'adminLevel': 0,
   'id': 184,
   'iso3': 'RUS',
   'name': 'Russian Federation',
   'pcode': None},
  {'adminLevel': 0, 'id': 185, 'iso3': 'RWA', 'name': 'Rwanda', 'pcode': None},
  {'adminLevel': 0,
   'id': 182,
   'iso3': 'REU',
   'name': 'Réunion',
   'pcode': None},
  {'adminLevel': 0,
   'id': 186,
   'iso3': 'BLM',
   'name': 'Saint Barthélemy (France)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 187,
   'iso3': 'SHN',
   'name': 'Saint Helena, Ascension and Tristan da Cunha',
   'pcode': None},
  {'adminLevel': 0,
   'id': 188,
   'iso3': 'KNA',
   'name': 'Saint Kitts and Nevis',
   'pcode': None},
  {'adminLevel': 0,
   'id': 189,
   'iso3': 'LCA',
   'name': 'Saint Lucia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 190,
   'iso3': 'MAF',
   'name': 'Saint Martin (France)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 191,
   'iso3': 'SPM',
   'name': 'Saint Pierre and Miquelon',
   'pcode': None},
  {'adminLevel': 0,
   'id': 192,
   'iso3': 'VCT',
   'name': 'Saint Vincent and the Grenadines',
   'pcode': None},
  {'adminLevel': 0, 'id': 193, 'iso3': 'WSM', 'name': 'Samoa', 'pcode': None},
  {'adminLevel': 0,
   'id': 194,
   'iso3': 'SMR',
   'name': 'San Marino',
   'pcode': None},
  {'adminLevel': 0,
   'id': 196,
   'iso3': 'SAU',
   'name': 'Saudi Arabia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 197,
   'iso3': 'SEN',
   'name': 'Senegal',
   'pcode': 'SN'},
  {'adminLevel': 0, 'id': 198, 'iso3': 'SRB', 'name': 'Serbia', 'pcode': None},
  {'adminLevel': 0,
   'id': 25724802,
   'iso3': 'SCG',
   'name': 'Serbia and Montenegro (until 2006-2009)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 199,
   'iso3': 'SYC',
   'name': 'Seychelles',
   'pcode': None},
  {'adminLevel': 0,
   'id': 200,
   'iso3': 'SLE',
   'name': 'Sierra Leone',
   'pcode': None},
  {'adminLevel': 0,
   'id': 201,
   'iso3': 'SGP',
   'name': 'Singapore',
   'pcode': None},
  {'adminLevel': 0,
   'id': 202,
   'iso3': 'SXM',
   'name': 'Sint Maarten (Dutch part)',
   'pcode': None},
  {'adminLevel': 0,
   'id': 203,
   'iso3': 'SVK',
   'name': 'Slovakia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 204,
   'iso3': 'SVN',
   'name': 'Slovenia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 205,
   'iso3': 'SLB',
   'name': 'Solomon Islands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 206,
   'iso3': 'SOM',
   'name': 'Somalia',
   'pcode': None},
  {'adminLevel': 0,
   'id': 207,
   'iso3': 'ZAF',
   'name': 'South Africa',
   'pcode': None},
  {'adminLevel': 0,
   'id': 208,
   'iso3': 'SGS',
   'name': 'South Georgia and the South Sandwich Islands',
   'pcode': None},
  {'adminLevel': 0,
   'id': 211,
   'iso3': 'SSD',
   'name': 'South Sudan',
   'pcode': None},
  {'adminLevel': 0, 'id': 209, 'iso3': 'ESP', 'name': 'Spain', 'pcode': None},
  {'adminLevel': 0,
   'id': 210,
   'iso3': 'LKA',
   'name': 'Sri Lanka',
   'pcode': None},
  {'adminLevel': 0, 'id': 212, 'iso3': 'SDN', 'name': 'Sudan', 'pcode': None},
  {'adminLevel': 0,
   'id': 213,
   'iso3': 'SUR',
   'name': 'Suriname',
   'pcode': None},
  {'adminLevel': 0,
   'id': 214,
   'iso3': 'SJM',
   'name': 'Svalbard and Jan Mayen',
   'pcode': None},
  {'adminLevel': 0,
   'id': 215,
   'iso3': 'SWZ',
   'name': 'Swaziland',
   'pcode': None},
  {'adminLevel': 0, 'id': 216, 'iso3': 'SWE', 'name': 'Sweden', 'pcode': None},
  {'adminLevel': 0,
   'id': 217,
   'iso3': 'CHE',
   'name': 'Switzerland',
   'pcode': None},
  {'adminLevel': 0,
   'id': 218,
   'iso3': 'SYR',
   'name': 'Syrian Arab Republic',

In [3]:
import urllib.request, json
import csv
import itertools
import math
import collections
import sys

import grequests
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

In [68]:
from itertools import groupby

v = sorted([('b',1), ('b', 2), ('a', 5)], key = lambda x: x[0])

c_v = {}
for k, group in groupby(v, lambda x : x[0]):
    c_v[k] = [v[1] for v in group]

c_v
    
#sort aggd
# aggd = sorted(aggd, key=lambda k: k[:4])

{'a': [5], 'b': [1, 2]}

In [ ]:
"""for pulling down data from hr.info API on response level and sending to CSV"""
#locations: https://api.hpc.tools/v1/public/location
#clusters: https://api.hpc.tools/v1/public/global-cluster ["code":"SHL"]
#https://api.hpc.tools/docs/v1/
#boundary cat by looping through locations

#TODO: subtract outgoing

import urllib.request, json
import re
from itertools import groupby

import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

import utils


class fts(object):
    def __init__(self, sc, test=None, all_sector=False):
        self.all_sector = all_sector
        self.test = test
        self.sc = sc

        self.fts = self.master_pull()
        self.merge_sc()
        self.flows = self.extract_flows()

        # remove flows col as it's quite large
        self.fts = self.fts.drop('fts.data.flows', axis=1)

    def master_pull(self):
        """group by year, country and pull down total values with optional filter by cluster.
            returns: dict of {sector 1 : info df}
        """
        countries = json_normalize(json.loads(urllib.request.urlopen("https://api.hpc.tools/v1/public/location")
                                              .read().decode()))['data']

        print('pulled countries')

        if self.test:
            self.hist = self.sc[:self.test]
        else:
            self.hist = self.sc

        #create cluster_vals which will be a dict of {cluster : df}
        URL_STR = 'https://api.hpc.tools/v1/public/fts/flow?countryISO3={0}&year={1} &globalClusterCode={2}'
        cluster_vals = {'SHL': URL_STR}
        if not self.all_sector:
            #get extract all sector keywords from API
            cluster_vals = {k: URL_STR for k in [v['code'] for v in json_normalize(json.loads \
                                        (urllib.request.urlopen("https://api.hpc.tools/v1/public/global-cluster")
                                        .read().decode()))['data'][0]]}

        print(cluster_vals)

        #for each URL, make call for each cluster
        hrefz = []
        for k in cluster_vals.keys():
            self.hist.apply(lambda v: hrefz.append(cluster_vals[k].format(v['sc.iso3'], v['sc.year'], k)), axis = 1)

        #now assign the df'd vals to the appropriate cluster responses
        for k, group in groupby([(,
                                  json_normalize(v['data'])) for v in utils.api_pull(hrefz, False)], lambda x: x[0]):
            cluster_vals[k] = [v[1] for v in group]

        #do one big pull with all of the sector specific URLs, then assign to cluster_values using cluser code in URL
        return json_normalize(resps).add_prefix('fts.')

    def merge_sc(self):
        self.fts = self.fts.merge(self.hist, left_on='fts.url', right_on='sc.fts_url')

    def extract_flows(self):
        """take all flows and add to df"""

        flow_df = pd.DataFrame()
        for v in self.fts.iterrows():
            norm = json_normalize(v[1]['fts.data.flows'])
            norm['fts.uid'] = v[1]['sc.uid']

            if len(flow_df) == 0:
                flow_df = norm
            else:
                # need to make sure we're adding t3h same c0lz
                assert (norm.columns.all(flow_df.columns))
                flow_df = flow_df.append(norm, ignore_index=True)

        return flow_df

    def get_flow_bdown(self):
        """break down flows by needed columns"""

        def hp(v):
            if 'Plan' in json_normalize(v['destinationObjects']).values or 'Plan' in json_normalize(
                    v['sourceObjects']).values:
                return 'has_plan'
            else:
                return 'no_plan'

        self.flows['plan'] = self.flows.apply(lambda x: hp(x), axis=1)

        # we are skipping boundary for now as it's <<<<
        d = self.flows[['fts.uid', 'plan', 'amountUSD']].groupby(['fts.uid', 'plan'], as_index=False).aggregate(
            {'amountUSD': 'sum'})
        piv = pd.pivot_table(d, index='fts.uid', values='amountUSD', aggfunc=np.sum, columns=[d['plan']] \
                             , fill_value=0).reset_index()
        piv['total'] = piv['has_plan'] + piv['no_plan']
        return piv

In [227]:

import sc_pull
sc = sc_pull.pull()
s_f = fts(test=2, sc=sc, all_sector=True)
# all_f = fts(test=5, sc=sc, all_sector=True)

print(s_f.get_flow_bdown().add_prefix('sc_')) #351513201 PAK2005 sc
# print(all_f.get_flow_bdown().add_prefix('sc_')) #351513201 PAK2005 all

# AGR,CCM,PRO-CPN,CSS,ERY,EDU,TEL,FSC,PRO-GBV,HEA,PRO-HLP,LOG,PRO-MIN,MS,NUT,OTH,PRO,WSH

loaded 227 SC entries
['AGR', 'CCM', 'PRO-CPN', 'CSS', 'ERY', 'EDU', 'SHL', 'TEL', 'FSC', 'PRO-GBV', 'HEA', 'PRO-HLP', 'LOG', 'PRO-MIN', 'MS', 'NUT', 'OTH', 'PRO', 'WSH']
pulling for : https://api.hpc.tools/v1/public/fts/flow?countryISO3=PAK&year=2005 &globalClusterCode=AGR
pulled. num bad resps: 0

/Users/ewanog/Documents/work/code/venv/p3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

fts.sector sc_fts.uid   sc_AGR   sc_CCM     sc_CSS    sc_EDU    sc_ERY  \
0             COD2006  5236489        0   45656350  11563291   5778196
1             PAK2005  7243295  5190601  151931349  33029232  30881131

fts.sector     sc_FSC     sc_HEA    sc_LOG      sc_MS   sc_NUT    sc_PRO  \
0           140051048   86679863  21634059   80137878  5586465  22822419
1            90471299  145035185   9829858  323416603        0   7195087

fts.sector  sc_PRO-MIN     sc_SHL  sc_TEL    sc_WSH
0              5727948    8475684   68020  17236222
1               423729  115218527  597721  58147247

In [90]:
l = []

l.append(1,2)

TypeError: append() takes exactly one argument (2 given)

In [312]:
clusters = [(v['code'], v['name']) for v in json_normalize(json.loads \
                                                  (urllib.request.urlopen(
                                                    "https://api.hpc.tools/v1/public/global-cluster")
                                                    .read().decode()))['data'][0]]

for v in clusters:
    print(v[0] + ' : ' + v[1])

AGR : Agriculture
CCM : Camp Coordination / Management
PRO-CPN : Child Protection
CSS : Coordination and support services
ERY : Early Recovery
EDU : Education
SHL : Emergency Shelter and NFI
TEL : Emergency Telecommunications
FSC : Food Security
PRO-GBV : Gender Based Violence
HEA : Health
PRO-HLP : Housing, Land and Property
LOG : Logistics
PRO-MIN : Mine Action
MS : Multi-sector
NUT : Nutrition
OTH : Other
PRO : Protection
WSH : Water Sanitation Hygiene

In [302]:
"""for pulling down data from hr.info API on response level and sending to CSV"""
#locations: https://api.hpc.tools/v1/public/location
#clusters: https://api.hpc.tools/v1/public/global-cluster ["code":"SHL"]
#https://api.hpc.tools/docs/v1/
#boundary cat by looping through locations

#TODO: subtract outgoing

import urllib.request, json
import re
from itertools import groupby

import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

import utils


class fts(object):
    def __init__(self, sc, test=None, all_sector=False):
        self.all_sector = all_sector
        self.test = test
        self.sc = sc

        self.fts = self.master_pull()
        # self.merge_sc()
        self.flows = self.extract_flows()

        # remove flows col as it's quite large
#         self.fts = self.fts.drop('fts.data.flows', axis=1)

    def master_pull(self):
        """group by year, country and pull down total values with optional filter by cluster.
            returns: dict of {sector 1 : info df}
        """
        SHELTER_ABBRV = 'SHL'

        if self.test:
            self.hist = self.sc[:self.test]
        else:
            self.hist = self.sc

        #create cluster_vals which will be a dict of {cluster : df}
        """
            AGR : Agriculture
            CCM : Camp Coordination / Management
            PRO-CPN : Child Protection
            CSS : Coordination and support services
            ERY : Early Recovery
            EDU : Education
            SHL : Emergency Shelter and NFI
            TEL : Emergency Telecommunications
            FSC : Food Security
            PRO-GBV : Gender Based Violence
            HEA : Health
            PRO-HLP : Housing, Land and Property
            LOG : Logistics
            PRO-MIN : Mine Action
            MS : Multi-sector
            NUT : Nutrition
            OTH : Other
            PRO : Protection
            WSH : Water Sanitation Hygiene
        """
        clusters = [SHELTER_ABBRV]
        if self.all_sector:
            clusters = [v['code'] for v in json_normalize(json.loads \
                                                              (urllib.request.urlopen(
                                                                "https://api.hpc.tools/v1/public/global-cluster")
                                                                .read().decode()))['data'][0]]

        print('**' + str(clusters))

        #for each cluster, prep string for each URL and get year
        URL_STR = 'https://api.hpc.tools/v1/public/fts/flow?countryISO3={0}&year={1} &globalClusterCode={2}'
        hrefz = []
        for clust in clusters:
            self.hist.apply(lambda v: hrefz.append(URL_STR.format(v['sc.iso3'], v['sc.year'], clust)) , axis = 1)

        # now submit the URLs to the API service and concat together and
        # then assign to cluster_values using cluser code in URL
        pulled = None
        for v in utils.api_pull(hrefz, False):
            ins_df = json_normalize(v['data'])

            ins_df['sector'] = re.match('.*globalClusterCode=(.*)', v['url']).groups()[0]
            ins_df['year'] = re.match('.*year=([0-9]{4})', v['url']).groups()[0]
            ins_df['iso3'] = re.match('.*countryISO3=(.{3})', v['url']).groups()[0]

            if pulled is None:
                pulled = ins_df

            else:
                pulled = pd.concat([pulled, ins_df])

        return pulled.add_prefix('fts.')

    def merge_sc(self):
        self.fts = self.fts.merge(self.hist, left_on='fts.url', right_on='sc.fts_url')

    def extract_flows(self):
        """take all flows and add to df"""

        flow_df = pd.DataFrame()
        for v in self.fts.iterrows():
            norm = json_normalize(v[1]['fts.flows'])
            norm['fts.uid'] = v[1]['fts.iso3'] + v[1]['fts.year']
            norm['fts.sector'] = v[1]['fts.sector']

            if len(flow_df) == 0:
                flow_df = norm

            else:
                # need to make sure we're adding t3h same c0lz
                assert (norm.columns.all(flow_df.columns))
                flow_df = flow_df.append(norm, ignore_index=True)
        
        print('**' + str(flow_df.columns))
        return flow_df

    def get_flow_bdown(self):
        """break down flows by needed columns"""

        def hp(v):
            if 'Plan' in json_normalize(v['destinationObjects']).values or 'Plan' in json_normalize(
                    v['sourceObjects']).values:
                return 'sc_has_plan'
            else:
                return 'sc_no_plan'
        
        #not graceful, should be better
        self.flows['plan'] = self.flows.apply(lambda x: hp(x), axis=1)

        # we are skipping boundary for now as it's <<<<
        d = self.flows[['fts.uid', 'fts.sector', 'amountUSD']].groupby(['fts.uid', 'fts.sector'], as_index=False).aggregate(
            {'amountUSD': 'sum'})
        piv = pd.pivot_table(d, index='fts.uid', values='amountUSD', aggfunc=np.sum, columns=[d['fts.sector']] \
                             , fill_value=0).reset_index()
        
        #do shelter plan/no plan
        s_d = self.flows[['fts.uid', 'amountUSD', 'plan']].loc[self.flows['fts.sector'] == 'SHL']\
                                .groupby(['fts.uid', 'plan'], as_index=False).aggregate(
                                {'amountUSD': 'sum'})
        s_piv = pd.pivot_table(s_d, index='fts.uid', values='amountUSD', aggfunc=np.sum, columns=[s_d['plan']] \
                             , fill_value=0).reset_index()
        
        mrgd = piv.merge(s_piv, on = 'fts.uid', how = 'outer')
        
        mrgd.columns = ['fts.' + v.lower() if 'fts.' not in v else v.lower() for v in mrgd.columns]
        
        return mrgd

In [303]:
import utils
import re

import sc_pull
sc = sc_pull.pull()
s_f = fts(test=2, sc=sc, all_sector=True)
r = s_f.get_flow_bdown()

loaded 227 SC entries
**['AGR', 'CCM', 'PRO-CPN', 'CSS', 'ERY', 'EDU', 'SHL', 'TEL', 'FSC', 'PRO-GBV', 'HEA', 'PRO-HLP', 'LOG', 'PRO-MIN', 'MS', 'NUT', 'OTH', 'PRO', 'WSH']
pulling for : https://api.hpc.tools/v1/public/fts/flow?countryISO3=PAK&year=2005 &globalClusterCode=AGR
pulled. num bad resps: 0

/Users/ewanog/Documents/work/code/venv/p3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

**Index(['amountUSD', 'boundary', 'budgetYear', 'contributionType', 'createdAt',
       'date', 'decisionDate', 'description', 'destinationObjects',
       'exchangeRate', 'firstReportedDate', 'flowType', 'fts.sector',
       'fts.uid', 'id', 'keywords', 'method', 'newMoney', 'onBoundary',
       'originalAmount', 'originalCurrency', 'parentFlowId', 'refCode',
       'reportDetails', 'sourceObjects', 'status', 'updatedAt', 'versionId'],
      dtype='object')

In [304]:
r

,fts.uid,fts.agr,fts.ccm,fts.css,fts.edu,fts.ery,fts.fsc,fts.hea,fts.log,fts.ms,fts.nut,fts.pro,fts.pro-min,fts.shl,fts.tel,fts.wsh,fts.sc_has_plan,fts.sc_no_plan
0,COD2006,5236489,0,45656350,11563291,5778196,140051048,86679863,21634059,80137878,5586465,22822419,5727948,8475684,68020,17236222,6172648,2303036
1,PAK2005,7243295,5190601,151931349,33029232,30881131,90471299,145035185,9829858,323416603,0,7195087,423729,115218527,597721,58147247,21137104,94081423

In [246]:
s_f.get_flow_bdown().head(1)[['AGR', 'CCM', 'CSS', 'EDU', 'ERY', 'FSC', 'HEA', 'LOG', 'MS',
       'NUT', 'PRO', 'PRO-MIN', 'SHL', 'TEL', 'WSH']].values.sum()

# s_f.get_flow_bdown().head(1)

# COD06: 456653932
        448,589,418
# PAK05: 1435264796

1,255,216,413
1,435,264,796

456653932